.site-navigation {
  // height: 65px;
  width: 100%;
  background: white;
  //   display: flex;
  //   justify-content: space-between;
  color: $text-color;

  .button {
    color: #fff;
    background-color: #000;
    outline: none;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 2px 8px 4px 8px;
  }

  .button:hover {
    color: $text-link;
    background-color: #fff;
    border-color: $text-color;
  }
  .nav-links {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
  }

  .menu-btn {
    display: none;
  }

  li {
    cursor: pointer;
  }

  hr {
    background-color: grey;
  }
}

.menu-title {
  font-size: 24px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;

  h1 {
    font-size: 50px;
  }

  h4 {
    font-size: 30px;
    font-weight: 300px;
    transform: rotate(-90deg);
  }
}

// .menu-title .menu-title .menu-btn {
//   font-size: 180px;
//   width: 65px;
//   align-items: center;
//   cursor: pointer;
//   display: none;
// }

// .site-navigation .button {
//   color: #fff;
//   background-color: #000;
//   outline: none;
//   border: 1px solid #fff;
//   border-radius: 15px;
//   padding: 2px 8px 4px 8px;
// }

.nav-links-responsive {
  background-color: #fff;
  position: fixed;
  top: 48px;
  right: 0;
  width: 100%;
  z-index: 1;
  list-style-type: none;
  line-height: 2;
  text-align: center;
  border-bottom: 2px solid #0000001a;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $text-color;
}

a:hover {
  color: $text-link;
}

// .menu-content-container {
//   display: Flex;
//   justify-content: center;
//   // align-items: center;
//   margin-right: 30px;
// }

// ul {
//   height: 100%;
//   margin-block-start: 0;
//   margin-block-end: 0;
//   padding-inline-start: 0;
//   display: flex;
//   justify-content: left;
//   align-items: center;
//   list-style-type: none;
//   margin-right: 20px;
// }

// a {
//   text-decoration: none;
//   padding: 0 20px 0 20px;
//   font-size: 20px;
//   color: $text-color;
// }

// a:hover {
//   color: $text-link;
// }
// MenuOpenIcon {
//   font-size: 80px;
// }

// MuiSvgIcon-root {
//   font-size: 80px;
//   width: 65px;
//   align-items: center;
//   cursor: pointer;
//   display: none;
// }

// MenuOpenIcon {
//   font-size: 80px;
//   width: 65px;
//   align-items: center;
//   cursor: pointer;
//   display: none;
// }
// MuiSvgIcon-root MuiSvgIcon {
//   font-size: 80px;
//   width: 65px;
//   align-items: center;
//   cursor: pointer;
//   display: none;
// }
// .ion-ios-menu {
//   font-size: 60px;
//   width: 100px;
//   align-items: center;
//   cursor: pointer;
// }

// @media screen and (max-width: 900px) {
//   .site-navigation {
//     .menu-content-container {
//       width: 300px;
//       height: calc(100% - 65px);
//       background: white;
//       position: absolute;
//       top: 65px;
//       left: -300px;
//       left: 0px;
//       transition: 300ms ease left;
//     }
//     .menu-btn {
//       display: flex;
//     }
//   }
// }

@media screen and (min-width: 300px) and (max-width: 600px) {
  .site-navigation {
    box-shadow: 0px 3px 6px #0000001a;
    width: 100%;
    display: flex;
    padding: 0 8%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 5;

    .nav-links {
      display: none;
    }

    .menu-btn {
      font-size: 25px;
      z-index: 2;
      display: block;
    }

    hr {
      display: none;
    }

    .menu-btn {
      font-size: 25px;
      z-index: 2;
      display: block;
    }

    .button {
      background-color: #000;
      border-color: #fff;
      color: #fff;
      pointer-events: none;
    }
  }

  .menu-btn h1 {
    font-size: 24px;
  }

  .menu-title h4 {
    font-size: 9px;
  }
}
